*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    position: relative;
    overflow: auto;
    // background: skyblue;
    display: flex;
    .sider-bar{
        flex: 2;
        min-width: 220px;
        height: 100vh;
        padding: 20px 0px;
        overflow: auto;
        background: black;
        // border: 1px solid hotpink;
        .router-item{
            text-align: center;
            a{
                font-size: 16px;
                line-height: 30px;
                color: #fff;
            }
        }
    }
    .content{
        flex: 10;
        padding: 20px;
        border: 1px solid black;
        .desc{
            font-size: 16px;
            background: rgb(207, 207, 207);
        }
    }
}